.header {
    text-align: center;
    font-size: 30px;
}

.animation {
    margin: 10px;
    position: relative;
}

.button {
    width: 100px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 13px;
}

.button:hover { font-weight: 600; }

.left_block {
    position: absolute;
}

.right_block {
    position: absolute;
    right: 30%;
}